<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <context-param>
    <param-name>JSP_MANAGE_BASE</param-name>
    <param-value>/manage</param-value>
  </context-param>
  <context-param>
    <param-name>JSP_WEB_BASE</param-name>
    <param-value>/web</param-value>
  </context-param>
  <context-param>
    <param-name>M_SERVLET_BASE</param-name>
    <param-value>/manage</param-value>
  </context-param>
  <context-param>
    <param-name>W_SERVLET_BASE</param-name>
    <param-value>/web</param-value>
  </context-param>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.zzti.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>paths</param-name>
      <param-value>/jsp/web/login.jsp,/jsp/manage/login.jsp,/manage/login.jsp,/manage/LoginServlet,/web/registe.jsp,/web/login.jsp,/web/LoginServlet,/web/RegisteServlet,/web/getAllAuction,/web/auctionList.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.edu.zzti.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/EncodingFilter</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/web/getAllAuction</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>cn.edu.zzti.servlet.manage.InitServlet</servlet-class>
    <!-- 初始化配置，让该servlet随tomcat启动创建 -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
    
  </servlet-mapping>
  <!-- 使用默认servlet处理静态资源请求 --> 
<!--后缀名为css/gif/jps/png/js的静态资源不拦截-->
<servlet-mapping>
 	<servlet-name>default</servlet-name>
 	<url-pattern>*.css</url-pattern>
 	<url-pattern>*.js</url-pattern>
 	<url-pattern>*.png</url-pattern>
 	<url-pattern>*.gif</url-pattern>
 	<url-pattern>*.jpg</url-pattern>	
</servlet-mapping>
  
</web-app>